@font-face {
  font-family: "saira-condensed-extrabold";
  src: url("../assets/Saira_Condensed/SairaCondensed-ExtraBold.ttf");
} 

@font-face {
    font-family: "saira-condensed-medium";
    src: url("../assets/Saira_Condensed/SairaCondensed-Medium.ttf");
} 

@font-face {
    font-family: "noto-sans-medium";
    src: url("../assets/Noto_Sans/static/NotoSans-Medium.ttf");
}

@font-face {
    font-family: "noto-sans-condensed-medium";
    src: url("../assets/Noto_Sans/static/NotoSans_Condensed-Medium.ttf");
}


/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff ;
    color: #082454;
}

h1 {
    font-family: "saira-condensed-medium", sans-serif;
    font-size: 100px;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "noto-sans-medium", sans-serif;
}

p,a {
  font-family: "noto-sans-medium", sans-serif;
}



/* header */
header {
    background-color: #082454;
    padding: 10px 20px;
    text-align: center;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 3;
}
  
  /*menu de navegacion */

  .nav-list {
      width: 100%;
      position: relative;
  }
    
  .nav-list .left {
      position: absolute;
      left: 0;
      bottom: 0;
  }

  .left a {
      font-family: "saira-condensed-extrabold", sans-serif;
      font-size: 36px;
      text-decoration: none;
      color: #ffffff;
      vertical-align: middle;
  }
    
  .nav-list .right {
      position: absolute;
      right: 0;
      bottom: 0;
  }
    
  .nav-list li {
      display: inline-block;
      padding: 10px 10px;
      vertical-align: middle;
  }
    
  .nav-link {
      color: #ffffff;
      text-decoration: none;
      font-size: 36px;
      font-family: "saira-condensed-medium", sans-serif;
  }

  .cart {
      vertical-align: middle;
      padding: 10px 20px;
  }

  .appointment-btn {
      background-color: #12e4c4;
      color: #082454;
      padding: 10px 20px;
      border-radius: 5px;
      text-decoration: none;
      font-family: "noto-sans-condensed-medium", sans-serif;
      font-size: 26px;
      line-height: 36px;
      display: inline-block;
      vertical-align: middle;
  }


/* main */
/* main section */
.main {
    padding: 0;
    margin: 0;
}
  
  /* hero section */
  .section-h {
    background-color: #F2F4F8;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hero-section {
    background-color: #F2F4F8;
    padding: 50px;
    position: relative;
  }
  
  .images {
    position: absolute;
    width: 391px;
    height: 390px;
    top: 0;
    left: 800px;
  }
  
  .overlap-group images {
    position: relative;
    height: 390px;
  }
  
  .ellipse-2 {
    position: relative;
    border-radius: 50%;
  }

  .ellipse-3, .ellipse-4 {
    position: absolute;
    border-radius: 50%;
  }
  
  .ellipse-2 {
    width: 300px;
    height: 300px;
    overflow: hidden; 
    background-color: #12e4c4;
    top: 40px;
    left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ellipse-2 img {
    width: 90%; 
    height: 90%; 
    border-radius: 50%;
    object-fit: cover; /* Asegurar que la imagen cubra el contenedor completamente */
  }
  
  .ellipse-3 {
    width: 140px;
    height: 140px;
    overflow: hidden; 
    background-color: #FF7A59;
    top: 15px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ellipse-3 img {
    width: 90%; 
    height: 90%; 
    border-radius: 50%;
    object-fit: cover; /* Asegurar que la imagen cubra el contenedor completamente */
  }
  
  .ellipse-4 {
    width: 140px;
    height: 140px;
    overflow: hidden;
    background-color: #082454;
    top: 245px;
    left: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ellipse-4 img {
    width: 90%; 
    height: 90%; 
    border-radius: 50%;
    object-fit: cover; /* Asegurar que la imagen cubra el contenedor completamente */
  }

  
  .hero-content {
    max-width: 600px;
    margin-right: 50;
  }
  
  .text-wrapper-1 {
    font-size: 24px;
    font-family: "noto-sans-medium", sans-serif;
    margin-bottom: 10px;
    color: #FF7A59;
  }
  
  .cuidado-excepcional {
    font-size: 60px;
    font-family: "saira-condensed-extrabold", sans-serif;
    line-height: 55px;
    margin-bottom: 15px;
    color: #082454;
  }
  
  .text-wrapper-2 {
    font-size: 18px;
    font-family: "noto-sans-medium", sans-serif;
    margin-bottom: 20px;
    color: #082454;
  }
  
  .button {
    margin-top: 20px;
  }
  
  .button a {
    background-color: #12e4c4;
    color: #082454;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-family: "noto-sans-condensed-medium", sans-serif;
    font-size: 18px;
    display: inline-block;
    margin-right: 20px;
  }
  

  /* about us section */
  .about-us-section {
    background-color: #F2F4F8;
    padding: 70px 50px;
    text-align: center;
    position: relative;
  }
  
  .ellipse {
    position: relative;
    width: 120px;
    height: 120px;
    background-color: #12e4c4;
    border-radius: 50%;
    top: 10px;
    left: 560px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ellipse svg {
    width: 80%; 
    height: 80%; 
    border-radius: 50%;
    object-fit: cover; /* Asegurar que la imagen cubra el contenedor completamente */
  }
  
  .text-wrapper-3 {
    font-size: 36px;
    font-family: "saira-condensed-extrabold", sans-serif;
    color: #082454;
    margin-bottom: 20px;
  }
  
  .text-wrapper-4 {
    font-size: 18px;
    font-family: "noto-sans-medium", sans-serif;
    color: #082454;
    margin-bottom: 30px;
  }
  
  .button-wrapper {
    margin-top: 20px;
    cursor:pointer; 
  }
  

  
  .rectangle {
    width: 100%;
    height: 400px;
    padding: 20px;
    background-color: #FF7A59;
    margin-top: 50px;
  }


  /* services section */
  .section-s {
    padding: 20px;
    background-color: #12e4c4;
    text-align: center;
  }
  
  .texto {
    margin-bottom: 20px;
  }
  
  
  .servicios-2 {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  
  .servicio {
    display: inline-block;
    width: 21%;
    margin: 1%;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px #082454;
  }
  
  .overlap-group {
    position: relative;
  }
  
  .icono-servicio,
  .img,
  .icono-servicio-2,
  .icono-servicio-3 {
    width: 50px;
    height: 50px;
    margin-top: 10px;
  }
  
  .text-wrapper-5 {
    margin-top: 10px;
    font-size: 18px;
    color: #082454;
    font-family: "noto-sans-medium", sans-serif;
  }
  
  .descripcion-servicio {
    display: inline-block;
    width: 48%;
    text-align: center;
    margin-top: 20px;
    height: 200px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px #082454;
    vertical-align: top; /* Alineación con la imagen */
  }
  
  .img-descripcion {
    display: inline-block;
    width: 48%;
    margin-top: 20px;
    height: 200px;
    border-radius: 5px;
    vertical-align: top; 
    object-fit: cover; 
  }
  
  .img-descripcion img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }


  /* contact-us section */
  .section-c {
    display: flex;
    padding: 20px;
    background-color: #ffffff; 
  }

  .contact-us-section {
    display: flex;
    width: 100%;
    height: auto;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 49%; 
    height: 350px; 
    padding: 20px;
    background-color: #12e4c4; 
    vertical-align: center;
    border-radius: 10px;
    margin-right: 1%; 
  }

  .imagen-servicio iframe {
    display: flex;
    width: 650px;
    height: 350px; 
    border-radius: 10px;
  }

  .contacto, .contacto-2, .contacto-3 {
    display: block; 
    margin-bottom: 10px; 
  }

  .contacto a, .contacto-2 a, .contacto-3 a {
    display: inline-block; 
    margin-right: 0; 
  }

  .text-wrapper-6 {
    display: inline-block; 
    vertical-align: middle;
    font-size: 18px;
    font-family: "noto-sans-medium", sans-serif;
    color: #082454;
    margin-bottom: 30px;
}


  /* forms section*/
  .section-f {
    background-color: #ffffff;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .forms-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    gap: 30px;
  }
  
  .frame {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
  }
  
  .newsletter,
  .coments {
    background-color: #ffffff;
    text-align: center;
    padding: 30px;
    box-shadow: 0px 4px 8px #082454;
    border-radius: 10px;
    width: 48%;
  }
  
  
  .input,
  .input-2 {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-family: "noto-sans-medium", sans-serif;
    font-size: 16px;
  }
  
  
  .button-2 {
    background-color: #12e4c4;
    color: #082454;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-family: "noto-sans-condensed-medium", sans-serif;
    font-size: 18px;
    cursor: pointer;
  }



  /*ABOUT US PAGE*/

  .about {
    padding: 2rem;
    text-align: center;
    background-color: #f9f9f9;
}

.about-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.about-circle {
    width: 100px;
    height: 100px;
    background-color: #FF7A59;
    border-radius: 50%;
}

.about-text {
    max-width: 400px;
}

.values {
    padding: 2rem;
    text-align: center;
    background-color: #ffffff;
}

.values h2 {
    margin-bottom: 2rem;
}

.values-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    align-items: center;
}

.values-image img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.values-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.value-item h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.value-item p {
    font-size: 1rem;
    color: #555;
}

.doctors {
  padding: 2rem;
  text-align: center;
  background-color: #f9f9f9;
}

.doctors h2 {
  margin-bottom: 2rem;
}

.doctor-grid {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.doctor-card {
  background-color: #082454;
  border-radius: 8px;
  width: 150px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.doctor-image img {
  width: 100%;
  height: 200px;
  border-radius: 8px 8px 0 0;
  object-fit: cover;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.doctor-info {
  font-family: "noto-sans-medium";
  background-color: #082454;
  color: white;
  text-align: center;
  padding: 0.5rem;
  width: 100%;
  border-radius: 0 0 8px 8px;
}

  /*SERVICES PAGE*/
  

  /*BLOG PAGE*/


  /*SHOP PAGE*/


  /*CONTACT US PAGE*/



/* footer */
footer {
    background-color: #082454;
    color: white;
    padding: 20px 0;
    position: relative;
    text-align: bottom;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    
}

.left, .center, .right {
    display: inline-block;
    vertical-align: middle;
}

.left {
    width: 30%;
    text-align: left;
    float: left;
    font-family: "noto-sans-medium", sans-serif;
    font-size: 13.5px;
}

.center {
    width: 40%;
    text-align: center;
    display: inline-block;
}

.center a {
    background-color: #12e4c4;
    color: #082454;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    font-family: "noto-sans-medium", sans-serif;
}

.right {
    width: 30%;
    text-align: right;
    float: right;
    vertical-align: middle;
}

.right .icon-footer a {
    text-decoration: none;
    margin: 5px 10px;
}



/* Pseudo Clases */
.nav-link:hover {
  color: #FF7A59;
  transition: color 0.3s ease;
}

.button a:hover {
  background-color: #FF7A59;
  color: #ffffff;
  transition: background-color 0.3s ease;
}

.cart svg:hover {
  color: #FF7A59;
  transition: color 0.3s ease;
}

.button-2:hover {
  background-color: #FF7A59;
  color: #ffffff;
  transition: background-color 0.3s ease;
}

/* Pseudo Elementos */
h1::before {
  content: "→ ";
  color: #FF7A59;
  font-size: 50px;
}

h1::after {
  content: " ←";
  color: #FF7A59;
  font-size: 50px;
}

/* Links con efecto */
a:focus {
  outline: 2px dashed #FF7A59;
  outline-offset: 4px;
}


/*MediaQueries*/

/* Móvil (hasta 600px) */
@media only screen and (max-width: 600px) {
  h1 {
      font-size: 48px;
  }

  header {
      padding: 55px;
      display: flex;
      justify-content: center;
      gap: 20px;
      align-items: center;
      position:relative;
  }

  .nav-list {
      display: block;
  }

  .nav-list .left, .nav-list .right {
      position: static;
      text-align: center;
  }

  .nav-list li {
      display: block;
      padding: 10px 0;
  }

  .nav-link {
      font-size: 24px;
  }

  .cart {
      height: 5px;
      width: 5px;
  }
  .appointment-btn {
      font-size: 10px;
  }

  /* Hero section */
  .hero-section {
      padding: 30px;
  }

  .hero-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
  }

  .images {
      display: none; 
  }

  .cuidado-excepcional {
      font-size: 40px;
  }

  /* Sobre nosotros */
  .about-us-section {
      padding: 30px;
  }

  .ellipse {
      display: none;
  }

  /* Servicios */
  .servicios-2 {
      display: block;
  }

  .servicio {
      width: 90%;
      margin: 10px auto;
  }

  .text-wrapper-4 {
      font-size: 11px;
  }

  /* Contacto */
  .contact-info, .imagen-servicio {
      display: block;
      width: 100%;
      margin-bottom: 20px;
  }

  .contact-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .contacto, .contacto-2, .contacto-3 {
      display: block;
      margin-bottom: 10px;
  }

  .imagen-servicio {
    display: block;
    width: 390px; 
    height: 250px; 
    margin-right: 20px;
  }

  .contact-us-section {
    display: block;
    width: 100%;
    height: auto;
  }

  .imagen-servicio iframe {
    display: block;
    width: 390px;
    height: 250px; 
    border-radius: 10px;
  }

  .section-f {
      display: flex;
      flex-direction: column;
  }

  .frame {
      display: flex;
      flex-direction: column;
  }

  .newsletter, .coments {
      width: 100%;
  }

  /* Footer */
  .footer-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 170px;
  }

  .left, .center, .right {
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
  }


}

/* Tablets (600px - 900px) */
@media only screen and (min-width: 600px) and (max-width: 900px) {
  h1 {
      font-size: 72px;
  }

  .nav-link {
      font-size: 28px;
  }

  .cuidado-excepcional {
      font-size: 50px;
  }

  .images {
      width: 180px;
      height: 290px;
      left: 600px;
  }

  /* Servicios */
  .servicio {
      width: 45%;
      margin: 10px auto;
  }

  /* Forms */
  .newsletter, .coments {
      width: 90%;
  }

  /* Footer */
  .footer-content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  }

  .left, .center, .right {
      width: 100%;
      text-align: center;
  }
}